body {
  position: relative;
  font-family: 微软雅黑,Arial;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
button {
  display: block;
}
*:focus {
  outline: none;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
/********** HTML5 display-role reset for older browsers **********/
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  margin: 0 ;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
/********* 默认变量 **********/
/********* 清除浮动 **********/
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  z-index: 999;
  transition: 0.5s;
  font-size: 14px;
  line-height: 100px;
}
.header .logo {
  display: block;
  height: 80px;
  line-height: 80px;
  float: left;
  margin-left: 200px;
  font-size: 32px;
  padding: 10px;
}
.header .functional_components .right_menu {
  float: right;
  margin: 0 150px;
  height: 100px;
}
.header .functional_components .right_menu ul li {
  float: left;
  margin-left: 10px;
  padding: 0 20px;
  width: 80px;
  height: 100px;
  line-height: 80px;
}
.header .functional_components .right_menu ul li a {
  display: block;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
}
.header .functional_components .right_menu ul li .search {
  width: 60px;
  margin-top: 35px;
}
.main {
  padding-top: 100px;
}
.main .content {
  height: 600px;
  background: url("../images/hero.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 300px;
}
.main .content h1 {
  margin: 0px 200px 0;
  font-size: 80px;
  color: #fff;
}
.main .content h2 {
  margin: 0px 200px 0;
  font-size: 80px;
  color: #fff;
}
.main .content h3 {
  margin: 0px 200px 0;
  font-size: 20px;
  color: #fff;
}
.main .content .btn_box {
  margin: 50px auto;
  width: 510px;
}
.main .content .btn_box button {
  display: inline-block;
  width: 250px;
  height: 60px;
  color: #FFFFFF;
  font-size: 14px;
}
.main .content .btn_box button.download {
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s 0.2s;
}
.main .content .btn_box button.download:hover {
  background: rgba(0, 0, 0, 0.4);
}
.main .content .btn_box button.readMore {
  background: darkslateblue;
  border: 0;
  transition: 0.5s 0.2s;
}
.main .content .btn_box button.readMore:hover {
  background: #483d8bb0;
}
.main .seo-info {
  height: 600px;
  padding: 0 100px;
}
.main .seo-info .left {
  width: 50%;
}
.main .seo-info .right {
  width: 50%;
}
.main .port-info {
  height: 600px;
}
